h1 { font-variant: small-caps; font-weight: lighter; color: #384545 }
body { background-color: grey; font-family: helvetica }
a:link { color: #6A9C9B }
a:visited { color: #384545 }
a:hover { color:  #8DB8B7}


